## Wprowadzenie
Skrypt pokazuje jak użyć pakietu SciKit do klasyfikacji danych. Rozważane są dwa przykłady:  zestaw danych IRIS oraz zestaw danych TITANIC  (do ściągnięcia z https://www.kaggle.com/c/titanic, dokładniej: potrzebny jest  plik https://www.kaggle.com/c/titanic/download/train.csv).

In [2]:
% matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from sklearn import tree

from L5.validation import test_training_indices, cross_validation

## 1. Pierwszy zestaw danych
Dane IRIS

In [54]:
# wczytanie zestawu danych
from sklearn import datasets
iris = datasets.load_iris()

data = pd.DataFrame(iris.data, columns=iris.feature_names)
data['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)
data.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>sepal length (cm)</th>
      <th>sepal width (cm)</th>
      <th>petal length (cm)</th>
      <th>petal width (cm)</th>
      <th>species</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>5.1</td>
      <td>3.5</td>
      <td>1.4</td>
      <td>0.2</td>
      <td>setosa</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4.9</td>
      <td>3.0</td>
      <td>1.4</td>
      <td>0.2</td>
      <td>setosa</td>
    </tr>
    <tr>
      <th>2</th>
      <td>4.7</td>
      <td>3.2</td>
      <td>1.3</td>
      <td>0.2</td>
      <td>setosa</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4.6</td>
      <td>3.1</td>
      <td>1.5</td>
      <td>0.2</td>
      <td>setosa</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5.0</td>
      <td>3.6</td>
      <td>1.4</td>
      <td>0.2</td>
      <td>setosa</td>
    </tr>
  </tbody>
</table>
</div>

In [55]:
# rozbicie zestawu danych na dane opisujące kwiat (X) i etykietę klasy (y)
y = data['species']
X = data.drop('species', axis = 1)

# stworzenie drzewa klasyfikacyjnego
t = tree.DecisionTreeClassifier()
t = t.fit(X, y)

In [56]:
# zapisanie drzewa klasyfikacyjnego do pliku .dot
# plik ten można przekształcić do pliku .pdf za pomocą programu graphviz używając polecenia:
#   dot -Tpdf iris.dot -o iris.pdf

with open("L5/trees/iris.dot", "w") as f:
    tree.export_graphviz(t, out_file=f, feature_names=X.columns)

In [57]:
# ocena stworzonego klasyfikatora na danych uczących
t.score(X, y)

1.0

In [6]:
# Uczciwiej byłoby oceniać klasyfikator na danych, które nie były używane podczas tworzenia
# klasyfikatora. Dlatego cały zestaw danych warto podzielić na dwie części: dane uczące i dane
# testowe.

data['train'] = np.random.uniform(0, 1, len(data))

data_train = data[data['train'] <= 0.65]
data_test = data[data['train'] > 0.65]

y = data_train['species']
X = data_train.drop('species', axis = 1)

t = tree.DecisionTreeClassifier()
t = t.fit(X, y)

print(t.score(X, y))

y = data_test['species']
X = data_test.drop('species', axis = 1)

print(t.score(X, y))

1.0
0.976744186047

## 2. Drugi zestaw danych
Dane TITANIC (do ściągnięcia z https://www.kaggle.com/c/titanic, dokładniej: potrzebny jest  plik https://www.kaggle.com/c/titanic/download/train.csv).

In [21]:
# wczytanie zestawu danych z pliku
data = pd.read_csv("L5/data/titanic.csv")
data.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PassengerId</th>
      <th>Survived</th>
      <th>Pclass</th>
      <th>Name</th>
      <th>Sex</th>
      <th>Age</th>
      <th>SibSp</th>
      <th>Parch</th>
      <th>Ticket</th>
      <th>Fare</th>
      <th>Cabin</th>
      <th>Embarked</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>0</td>
      <td>3</td>
      <td>Braund, Mr. Owen Harris</td>
      <td>male</td>
      <td>22.0</td>
      <td>1</td>
      <td>0</td>
      <td>A/5 21171</td>
      <td>7.2500</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>Cumings, Mrs. John Bradley (Florence Briggs Th...</td>
      <td>female</td>
      <td>38.0</td>
      <td>1</td>
      <td>0</td>
      <td>PC 17599</td>
      <td>71.2833</td>
      <td>C85</td>
      <td>C</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>1</td>
      <td>3</td>
      <td>Heikkinen, Miss. Laina</td>
      <td>female</td>
      <td>26.0</td>
      <td>0</td>
      <td>0</td>
      <td>STON/O2. 3101282</td>
      <td>7.9250</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>Futrelle, Mrs. Jacques Heath (Lily May Peel)</td>
      <td>female</td>
      <td>35.0</td>
      <td>1</td>
      <td>0</td>
      <td>113803</td>
      <td>53.1000</td>
      <td>C123</td>
      <td>S</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>0</td>
      <td>3</td>
      <td>Allen, Mr. William Henry</td>
      <td>male</td>
      <td>35.0</td>
      <td>0</td>
      <td>0</td>
      <td>373450</td>
      <td>8.0500</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
  </tbody>
</table>
</div>

In [22]:
# usunięcie z zestawu danych atrybutów nieistotnych dla klasyfikacji
data = data.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis = 1)
data = data.dropna()
data.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Survived</th>
      <th>Pclass</th>
      <th>Sex</th>
      <th>Age</th>
      <th>SibSp</th>
      <th>Parch</th>
      <th>Fare</th>
      <th>Embarked</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>3</td>
      <td>male</td>
      <td>22.0</td>
      <td>1</td>
      <td>0</td>
      <td>7.2500</td>
      <td>S</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>1</td>
      <td>female</td>
      <td>38.0</td>
      <td>1</td>
      <td>0</td>
      <td>71.2833</td>
      <td>C</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>3</td>
      <td>female</td>
      <td>26.0</td>
      <td>0</td>
      <td>0</td>
      <td>7.9250</td>
      <td>S</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>1</td>
      <td>female</td>
      <td>35.0</td>
      <td>1</td>
      <td>0</td>
      <td>53.1000</td>
      <td>S</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>3</td>
      <td>male</td>
      <td>35.0</td>
      <td>0</td>
      <td>0</td>
      <td>8.0500</td>
      <td>S</td>
    </tr>
  </tbody>
</table>
</div>

In [23]:
# zmiana kodowania atrybutów nominalnych w zestawie danych
data['Sex'] = pd.Categorical(data['Sex']).codes
data['Embarked'] = pd.Categorical(data['Embarked']).codes
data.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Survived</th>
      <th>Pclass</th>
      <th>Sex</th>
      <th>Age</th>
      <th>SibSp</th>
      <th>Parch</th>
      <th>Fare</th>
      <th>Embarked</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>3</td>
      <td>1</td>
      <td>22.0</td>
      <td>1</td>
      <td>0</td>
      <td>7.2500</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>38.0</td>
      <td>1</td>
      <td>0</td>
      <td>71.2833</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>3</td>
      <td>0</td>
      <td>26.0</td>
      <td>0</td>
      <td>0</td>
      <td>7.9250</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>35.0</td>
      <td>1</td>
      <td>0</td>
      <td>53.1000</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>3</td>
      <td>1</td>
      <td>35.0</td>
      <td>0</td>
      <td>0</td>
      <td>8.0500</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
</div>

In [24]:
# rozbicie zestawu danych na dane opisujące pasażera (X) i etykietę klasy (y)
titanic_labels = data['Survived']
titanic_data = data.drop('Survived', axis = 1)

# stworzenie drzewa klasyfikacyjnego
decision_tree = tree.DecisionTreeClassifier()
decision_tree.fit(titanic_data, titanic_labels)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [26]:
# zapisanie drzewa klasyfikacyjnego do pliku .dot
# plik ten można przekształcić do pliku .pdf za pomocą programu graphviz używając polecenia:
#   dot -Tpdf titanic.dot -o titanic.pdf

with open("L5/trees/titanic.dot", "w") as f:
    tree.export_graphviz(decision_tree, out_file=f, feature_names=titanic_data.columns)

In [27]:
# ocena stworzonego klasyfikatora na danych uczących
decision_tree.score(titanic_data, titanic_labels)

0.9859550561797753

In [28]:
# Uczciwiej byłoby oceniać klasyfikator na danych, które nie były używane podczas tworzenia
# klasyfikatora. Dlatego cały zestaw danych warto podzielić na dwie części: dane uczące i dane
# testowe (lista 5 zadanie 2b).

In [29]:
print(len(titanic_labels))

712

In [30]:
training_indices, test_indices = test_training_indices(data_size=712, train_size=476)
decision_tree = tree.DecisionTreeClassifier()
decision_tree.fit(titanic_data[training_indices], titanic_labels[training_indices])
decision_tree.score(titanic_data[test_indices], titanic_labels[test_indices])

0.76271186440677963

In [31]:
decision_tree = tree.DecisionTreeClassifier()
cross_validation_results = cross_validation(titanic_data, titanic_labels, 
                                            decision_tree)
print(cross_validation_results)

[0.6901408450704225, 0.76056338028169013, 0.73239436619718312, 0.78873239436619713, 0.79166666666666663, 0.83098591549295775, 0.77464788732394363, 0.71830985915492962, 0.80281690140845074, 0.84722222222222221]

In [32]:
decision_tree = tree.DecisionTreeClassifier(criterion="entropy")
decision_tree.fit(titanic_data, titanic_labels)
with open("L5/trees/titanic_entropy.dot", "w") as f:
    tree.export_graphviz(decision_tree, out_file=f, feature_names=titanic_data.columns)
decision_tree.score(titanic_data, titanic_labels)

0.9859550561797753

In [33]:
training_indices, test_indices = test_training_indices(data_size=712, train_size=476)
decision_tree = tree.DecisionTreeClassifier(criterion="entropy")
decision_tree.fit(titanic_data[training_indices], titanic_labels[training_indices])
decision_tree.score(titanic_data[test_indices], titanic_labels[test_indices])

0.75847457627118642

In [34]:
decision_tree = tree.DecisionTreeClassifier(criterion="entropy")
cross_validation_results = cross_validation(titanic_data, titanic_labels, 
                                            decision_tree)
print(cross_validation_results)

[0.70422535211267601, 0.78873239436619713, 0.71830985915492962, 0.78873239436619713, 0.83333333333333337, 0.77464788732394363, 0.80281690140845074, 0.6901408450704225, 0.74647887323943662, 0.80555555555555558]

In [39]:
decision_tree = tree.DecisionTreeClassifier(max_depth=4)
decision_tree.fit(titanic_data, titanic_labels)
with open("L5/trees/titanic_depth_4.dot", "w") as f:
    tree.export_graphviz(decision_tree, out_file=f, feature_names=titanic_data.columns)
decision_tree.score(titanic_data, titanic_labels)

0.8300561797752809

In [40]:
training_indices, test_indices = test_training_indices(data_size=712, train_size=476)
decision_tree = tree.DecisionTreeClassifier(max_depth=4)
decision_tree.fit(titanic_data[training_indices], titanic_labels[training_indices])
decision_tree.score(titanic_data[test_indices], titanic_labels[test_indices])

0.8347457627118644

In [41]:
decision_tree = tree.DecisionTreeClassifier(max_depth=4)
cross_validation_results = cross_validation(titanic_data, titanic_labels, 
                                            decision_tree)
print(cross_validation_results)

[0.80281690140845074, 0.84507042253521125, 0.76056338028169013, 0.74647887323943662, 0.86111111111111116, 0.77464788732394363, 0.76056338028169013, 0.78873239436619713, 0.85915492957746475, 0.79166666666666663]

In [46]:
decision_tree = tree.DecisionTreeClassifier(min_samples_leaf=20)
decision_tree.fit(titanic_data, titanic_labels)
with open("L5/trees/titanic_prunned.dot", "w") as f:
    tree.export_graphviz(decision_tree, out_file=f, feature_names=titanic_data.columns)
decision_tree.score(titanic_data, titanic_labels)

0.8286516853932584

In [47]:
training_indices, test_indices = test_training_indices(data_size=712, train_size=476)
decision_tree = tree.DecisionTreeClassifier(min_samples_leaf=20)
decision_tree.fit(titanic_data[training_indices], titanic_labels[training_indices])
decision_tree.score(titanic_data[test_indices], titanic_labels[test_indices])

0.77542372881355937

In [50]:
decision_tree = tree.DecisionTreeClassifier(min_samples_leaf=20)
cross_validation_results = cross_validation(titanic_data, titanic_labels, 
                                            decision_tree)
print(cross_validation_results)

[0.73239436619718312, 0.80281690140845074, 0.76056338028169013, 0.77464788732394363, 0.86111111111111116, 0.81690140845070425, 0.76056338028169013, 0.80281690140845074, 0.83098591549295775, 0.77777777777777779]

In [48]:
decision_tree = tree.DecisionTreeClassifier(max_leaf_nodes=20)
decision_tree.fit(titanic_data, titanic_labels)
with open("L5/trees/titanic_prunned_2.dot", "w") as f:
    tree.export_graphviz(decision_tree, out_file=f, feature_names=titanic_data.columns)
decision_tree.score(titanic_data, titanic_labels)

0.8665730337078652

In [49]:
training_indices, test_indices = test_training_indices(data_size=712, train_size=476)
decision_tree = tree.DecisionTreeClassifier(max_leaf_nodes=20)
decision_tree.fit(titanic_data[training_indices], titanic_labels[training_indices])
decision_tree.score(titanic_data[test_indices], titanic_labels[test_indices])

0.81779661016949157

In [51]:
decision_tree = tree.DecisionTreeClassifier(max_leaf_nodes=20)
cross_validation_results = cross_validation(titanic_data, titanic_labels, 
                                            decision_tree)
print(cross_validation_results)

[0.70422535211267601, 0.81690140845070425, 0.76056338028169013, 0.81690140845070425, 0.88888888888888884, 0.80281690140845074, 0.81690140845070425, 0.78873239436619713, 0.88732394366197187, 0.83333333333333337]