In [57]:
% matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from sklearn import tree, metrics, ensemble

from L5.validation import test_training_indices, cross_validation, print_scores

In [52]:
data = pd.read_csv("L5/data/bank.csv", sep=";")
data[:20]

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>age</th>
      <th>job</th>
      <th>marital</th>
      <th>education</th>
      <th>default</th>
      <th>balance</th>
      <th>housing</th>
      <th>loan</th>
      <th>contact</th>
      <th>day</th>
      <th>month</th>
      <th>duration</th>
      <th>campaign</th>
      <th>pdays</th>
      <th>previous</th>
      <th>poutcome</th>
      <th>y</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>30</td>
      <td>unemployed</td>
      <td>married</td>
      <td>primary</td>
      <td>no</td>
      <td>1787</td>
      <td>no</td>
      <td>no</td>
      <td>cellular</td>
      <td>19</td>
      <td>oct</td>
      <td>79</td>
      <td>1</td>
      <td>-1</td>
      <td>0</td>
      <td>unknown</td>
      <td>no</td>
    </tr>
    <tr>
      <th>1</th>
      <td>33</td>
      <td>services</td>
      <td>married</td>
      <td>secondary</td>
      <td>no</td>
      <td>4789</td>
      <td>yes</td>
      <td>yes</td>
      <td>cellular</td>
      <td>11</td>
      <td>may</td>
      <td>220</td>
      <td>1</td>
      <td>339</td>
      <td>4</td>
      <td>failure</td>
      <td>no</td>
    </tr>
    <tr>
      <th>2</th>
      <td>35</td>
      <td>management</td>
      <td>single</td>
      <td>tertiary</td>
      <td>no</td>
      <td>1350</td>
      <td>yes</td>
      <td>no</td>
      <td>cellular</td>
      <td>16</td>
      <td>apr</td>
      <td>185</td>
      <td>1</td>
      <td>330</td>
      <td>1</td>
      <td>failure</td>
      <td>no</td>
    </tr>
    <tr>
      <th>3</th>
      <td>30</td>
      <td>management</td>
      <td>married</td>
      <td>tertiary</td>
      <td>no</td>
      <td>1476</td>
      <td>yes</td>
      <td>yes</td>
      <td>unknown</td>
      <td>3</td>
      <td>jun</td>
      <td>199</td>
      <td>4</td>
      <td>-1</td>
      <td>0</td>
      <td>unknown</td>
      <td>no</td>
    </tr>
    <tr>
      <th>4</th>
      <td>59</td>
      <td>blue-collar</td>
      <td>married</td>
      <td>secondary</td>
      <td>no</td>
      <td>0</td>
      <td>yes</td>
      <td>no</td>
      <td>unknown</td>
      <td>5</td>
      <td>may</td>
      <td>226</td>
      <td>1</td>
      <td>-1</td>
      <td>0</td>
      <td>unknown</td>
      <td>no</td>
    </tr>
    <tr>
      <th>5</th>
      <td>35</td>
      <td>management</td>
      <td>single</td>
      <td>tertiary</td>
      <td>no</td>
      <td>747</td>
      <td>no</td>
      <td>no</td>
      <td>cellular</td>
      <td>23</td>
      <td>feb</td>
      <td>141</td>
      <td>2</td>
      <td>176</td>
      <td>3</td>
      <td>failure</td>
      <td>no</td>
    </tr>
    <tr>
      <th>6</th>
      <td>36</td>
      <td>self-employed</td>
      <td>married</td>
      <td>tertiary</td>
      <td>no</td>
      <td>307</td>
      <td>yes</td>
      <td>no</td>
      <td>cellular</td>
      <td>14</td>
      <td>may</td>
      <td>341</td>
      <td>1</td>
      <td>330</td>
      <td>2</td>
      <td>other</td>
      <td>no</td>
    </tr>
    <tr>
      <th>7</th>
      <td>39</td>
      <td>technician</td>
      <td>married</td>
      <td>secondary</td>
      <td>no</td>
      <td>147</td>
      <td>yes</td>
      <td>no</td>
      <td>cellular</td>
      <td>6</td>
      <td>may</td>
      <td>151</td>
      <td>2</td>
      <td>-1</td>
      <td>0</td>
      <td>unknown</td>
      <td>no</td>
    </tr>
    <tr>
      <th>8</th>
      <td>41</td>
      <td>entrepreneur</td>
      <td>married</td>
      <td>tertiary</td>
      <td>no</td>
      <td>221</td>
      <td>yes</td>
      <td>no</td>
      <td>unknown</td>
      <td>14</td>
      <td>may</td>
      <td>57</td>
      <td>2</td>
      <td>-1</td>
      <td>0</td>
      <td>unknown</td>
      <td>no</td>
    </tr>
    <tr>
      <th>9</th>
      <td>43</td>
      <td>services</td>
      <td>married</td>
      <td>primary</td>
      <td>no</td>
      <td>-88</td>
      <td>yes</td>
      <td>yes</td>
      <td>cellular</td>
      <td>17</td>
      <td>apr</td>
      <td>313</td>
      <td>1</td>
      <td>147</td>
      <td>2</td>
      <td>failure</td>
      <td>no</td>
    </tr>
    <tr>
      <th>10</th>
      <td>39</td>
      <td>services</td>
      <td>married</td>
      <td>secondary</td>
      <td>no</td>
      <td>9374</td>
      <td>yes</td>
      <td>no</td>
      <td>unknown</td>
      <td>20</td>
      <td>may</td>
      <td>273</td>
      <td>1</td>
      <td>-1</td>
      <td>0</td>
      <td>unknown</td>
      <td>no</td>
    </tr>
    <tr>
      <th>11</th>
      <td>43</td>
      <td>admin.</td>
      <td>married</td>
      <td>secondary</td>
      <td>no</td>
      <td>264</td>
      <td>yes</td>
      <td>no</td>
      <td>cellular</td>
      <td>17</td>
      <td>apr</td>
      <td>113</td>
      <td>2</td>
      <td>-1</td>
      <td>0</td>
      <td>unknown</td>
      <td>no</td>
    </tr>
    <tr>
      <th>12</th>
      <td>36</td>
      <td>technician</td>
      <td>married</td>
      <td>tertiary</td>
      <td>no</td>
      <td>1109</td>
      <td>no</td>
      <td>no</td>
      <td>cellular</td>
      <td>13</td>
      <td>aug</td>
      <td>328</td>
      <td>2</td>
      <td>-1</td>
      <td>0</td>
      <td>unknown</td>
      <td>no</td>
    </tr>
    <tr>
      <th>13</th>
      <td>20</td>
      <td>student</td>
      <td>single</td>
      <td>secondary</td>
      <td>no</td>
      <td>502</td>
      <td>no</td>
      <td>no</td>
      <td>cellular</td>
      <td>30</td>
      <td>apr</td>
      <td>261</td>
      <td>1</td>
      <td>-1</td>
      <td>0</td>
      <td>unknown</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>14</th>
      <td>31</td>
      <td>blue-collar</td>
      <td>married</td>
      <td>secondary</td>
      <td>no</td>
      <td>360</td>
      <td>yes</td>
      <td>yes</td>
      <td>cellular</td>
      <td>29</td>
      <td>jan</td>
      <td>89</td>
      <td>1</td>
      <td>241</td>
      <td>1</td>
      <td>failure</td>
      <td>no</td>
    </tr>
    <tr>
      <th>15</th>
      <td>40</td>
      <td>management</td>
      <td>married</td>
      <td>tertiary</td>
      <td>no</td>
      <td>194</td>
      <td>no</td>
      <td>yes</td>
      <td>cellular</td>
      <td>29</td>
      <td>aug</td>
      <td>189</td>
      <td>2</td>
      <td>-1</td>
      <td>0</td>
      <td>unknown</td>
      <td>no</td>
    </tr>
    <tr>
      <th>16</th>
      <td>56</td>
      <td>technician</td>
      <td>married</td>
      <td>secondary</td>
      <td>no</td>
      <td>4073</td>
      <td>no</td>
      <td>no</td>
      <td>cellular</td>
      <td>27</td>
      <td>aug</td>
      <td>239</td>
      <td>5</td>
      <td>-1</td>
      <td>0</td>
      <td>unknown</td>
      <td>no</td>
    </tr>
    <tr>
      <th>17</th>
      <td>37</td>
      <td>admin.</td>
      <td>single</td>
      <td>tertiary</td>
      <td>no</td>
      <td>2317</td>
      <td>yes</td>
      <td>no</td>
      <td>cellular</td>
      <td>20</td>
      <td>apr</td>
      <td>114</td>
      <td>1</td>
      <td>152</td>
      <td>2</td>
      <td>failure</td>
      <td>no</td>
    </tr>
    <tr>
      <th>18</th>
      <td>25</td>
      <td>blue-collar</td>
      <td>single</td>
      <td>primary</td>
      <td>no</td>
      <td>-221</td>
      <td>yes</td>
      <td>no</td>
      <td>unknown</td>
      <td>23</td>
      <td>may</td>
      <td>250</td>
      <td>1</td>
      <td>-1</td>
      <td>0</td>
      <td>unknown</td>
      <td>no</td>
    </tr>
    <tr>
      <th>19</th>
      <td>31</td>
      <td>services</td>
      <td>married</td>
      <td>secondary</td>
      <td>no</td>
      <td>132</td>
      <td>no</td>
      <td>no</td>
      <td>cellular</td>
      <td>7</td>
      <td>jul</td>
      <td>148</td>
      <td>1</td>
      <td>152</td>
      <td>1</td>
      <td>other</td>
      <td>no</td>
    </tr>
  </tbody>
</table>
</div>

In [53]:
for attribute in ("job", "marital", "education", "default", "housing", "loan", "contact", "poutcome"):
    data[attribute] = pd.Categorical(data[attribute]).codes
months = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"]
data["month"] = list(map(lambda month: months.index(month), data["month"]))
data["day"] = list(map(lambda date: date[0] * 31 + date[1], zip(data["month"], data["day"])))
data = data.drop(['month'], axis=1)

# marital = ["single", "married", "divorced", "unknown"]
# 
# data["marital"] = list(map(lambda attr: marital.index(attr), data["marital"]))

data[:40]

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>age</th>
      <th>job</th>
      <th>marital</th>
      <th>education</th>
      <th>default</th>
      <th>balance</th>
      <th>housing</th>
      <th>loan</th>
      <th>contact</th>
      <th>day</th>
      <th>duration</th>
      <th>campaign</th>
      <th>pdays</th>
      <th>previous</th>
      <th>poutcome</th>
      <th>y</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>30</td>
      <td>10</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1787</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>298</td>
      <td>79</td>
      <td>1</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>no</td>
    </tr>
    <tr>
      <th>1</th>
      <td>33</td>
      <td>7</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>4789</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>135</td>
      <td>220</td>
      <td>1</td>
      <td>339</td>
      <td>4</td>
      <td>0</td>
      <td>no</td>
    </tr>
    <tr>
      <th>2</th>
      <td>35</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>1350</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>109</td>
      <td>185</td>
      <td>1</td>
      <td>330</td>
      <td>1</td>
      <td>0</td>
      <td>no</td>
    </tr>
    <tr>
      <th>3</th>
      <td>30</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>1476</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>158</td>
      <td>199</td>
      <td>4</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>no</td>
    </tr>
    <tr>
      <th>4</th>
      <td>59</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>129</td>
      <td>226</td>
      <td>1</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>no</td>
    </tr>
    <tr>
      <th>5</th>
      <td>35</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>747</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>54</td>
      <td>141</td>
      <td>2</td>
      <td>176</td>
      <td>3</td>
      <td>0</td>
      <td>no</td>
    </tr>
    <tr>
      <th>6</th>
      <td>36</td>
      <td>6</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>307</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>138</td>
      <td>341</td>
      <td>1</td>
      <td>330</td>
      <td>2</td>
      <td>1</td>
      <td>no</td>
    </tr>
    <tr>
      <th>7</th>
      <td>39</td>
      <td>9</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>147</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>130</td>
      <td>151</td>
      <td>2</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>no</td>
    </tr>
    <tr>
      <th>8</th>
      <td>41</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>221</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>138</td>
      <td>57</td>
      <td>2</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>no</td>
    </tr>
    <tr>
      <th>9</th>
      <td>43</td>
      <td>7</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>-88</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>110</td>
      <td>313</td>
      <td>1</td>
      <td>147</td>
      <td>2</td>
      <td>0</td>
      <td>no</td>
    </tr>
    <tr>
      <th>10</th>
      <td>39</td>
      <td>7</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>9374</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>144</td>
      <td>273</td>
      <td>1</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>no</td>
    </tr>
    <tr>
      <th>11</th>
      <td>43</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>264</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>110</td>
      <td>113</td>
      <td>2</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>no</td>
    </tr>
    <tr>
      <th>12</th>
      <td>36</td>
      <td>9</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>1109</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>230</td>
      <td>328</td>
      <td>2</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>no</td>
    </tr>
    <tr>
      <th>13</th>
      <td>20</td>
      <td>8</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>502</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>123</td>
      <td>261</td>
      <td>1</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>14</th>
      <td>31</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>360</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>29</td>
      <td>89</td>
      <td>1</td>
      <td>241</td>
      <td>1</td>
      <td>0</td>
      <td>no</td>
    </tr>
    <tr>
      <th>15</th>
      <td>40</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>194</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>246</td>
      <td>189</td>
      <td>2</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>no</td>
    </tr>
    <tr>
      <th>16</th>
      <td>56</td>
      <td>9</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>4073</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>244</td>
      <td>239</td>
      <td>5</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>no</td>
    </tr>
    <tr>
      <th>17</th>
      <td>37</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>2317</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>113</td>
      <td>114</td>
      <td>1</td>
      <td>152</td>
      <td>2</td>
      <td>0</td>
      <td>no</td>
    </tr>
    <tr>
      <th>18</th>
      <td>25</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>-221</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>147</td>
      <td>250</td>
      <td>1</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>no</td>
    </tr>
    <tr>
      <th>19</th>
      <td>31</td>
      <td>7</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>132</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>193</td>
      <td>148</td>
      <td>1</td>
      <td>152</td>
      <td>1</td>
      <td>1</td>
      <td>no</td>
    </tr>
    <tr>
      <th>20</th>
      <td>38</td>
      <td>4</td>
      <td>0</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>328</td>
      <td>96</td>
      <td>2</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>no</td>
    </tr>
    <tr>
      <th>21</th>
      <td>42</td>
      <td>4</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>16</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>329</td>
      <td>140</td>
      <td>3</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>no</td>
    </tr>
    <tr>
      <th>22</th>
      <td>44</td>
      <td>7</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>106</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>167</td>
      <td>109</td>
      <td>2</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>no</td>
    </tr>
    <tr>
      <th>23</th>
      <td>44</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>93</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>193</td>
      <td>125</td>
      <td>2</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>no</td>
    </tr>
    <tr>
      <th>24</th>
      <td>26</td>
      <td>3</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>543</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>30</td>
      <td>169</td>
      <td>3</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>no</td>
    </tr>
    <tr>
      <th>25</th>
      <td>41</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>5883</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>330</td>
      <td>182</td>
      <td>2</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>no</td>
    </tr>
    <tr>
      <th>26</th>
      <td>55</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>627</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>129</td>
      <td>247</td>
      <td>1</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>no</td>
    </tr>
    <tr>
      <th>27</th>
      <td>67</td>
      <td>5</td>
      <td>1</td>
      <td>3</td>
      <td>0</td>
      <td>696</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>234</td>
      <td>119</td>
      <td>1</td>
      <td>105</td>
      <td>2</td>
      <td>0</td>
      <td>no</td>
    </tr>
    <tr>
      <th>28</th>
      <td>56</td>
      <td>6</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>784</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>216</td>
      <td>149</td>
      <td>2</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>no</td>
    </tr>
    <tr>
      <th>29</th>
      <td>53</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>105</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>238</td>
      <td>74</td>
      <td>2</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>no</td>
    </tr>
    <tr>
      <th>30</th>
      <td>68</td>
      <td>5</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>4189</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>200</td>
      <td>897</td>
      <td>2</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>31</th>
      <td>31</td>
      <td>9</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>171</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>244</td>
      <td>81</td>
      <td>3</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>no</td>
    </tr>
    <tr>
      <th>32</th>
      <td>59</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>42</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>331</td>
      <td>40</td>
      <td>1</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>no</td>
    </tr>
    <tr>
      <th>33</th>
      <td>32</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>2536</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>243</td>
      <td>958</td>
      <td>6</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>34</th>
      <td>49</td>
      <td>9</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>1235</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>230</td>
      <td>354</td>
      <td>3</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>35</th>
      <td>42</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1811</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>138</td>
      <td>150</td>
      <td>1</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>no</td>
    </tr>
    <tr>
      <th>36</th>
      <td>78</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>229</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>301</td>
      <td>97</td>
      <td>1</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>37</th>
      <td>32</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>2089</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>324</td>
      <td>132</td>
      <td>1</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>38</th>
      <td>33</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>3935</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>130</td>
      <td>765</td>
      <td>1</td>
      <td>342</td>
      <td>2</td>
      <td>0</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>39</th>
      <td>23</td>
      <td>7</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>363</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>154</td>
      <td>16</td>
      <td>18</td>
      <td>-1</td>
      <td>0</td>
      <td>3</td>
      <td>no</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
bank_labels = data["y"].values
bank_data = data.drop(["y"], axis = 1).values

In [6]:
for max_leaf_nodes in range(10, 21, 2):
    classifier = tree.DecisionTreeClassifier(max_leaf_nodes=max_leaf_nodes)
    print_scores(classifier, bank_data, bank_labels, max_leaf_nodes)

10: 0.898473788985
[0.88716814159292035, 0.90486725663716816, 0.86283185840707965, 0.8915929203539823, 0.87610619469026552, 0.91371681415929207, 0.88938053097345138, 0.92699115044247793, 0.88938053097345138, 0.87858719646799122]
0.89206225947


12: 0.906215439062

[0.88495575221238942, 0.90486725663716816, 0.86283185840707965, 0.8915929203539823, 0.87831858407079644, 0.91814159292035402, 0.8915929203539823, 0.92035398230088494, 0.89601769911504425, 0.88079470198675491]
0.892946726836


14: 0.907100199071
[0.88716814159292035, 0.89601769911504425, 0.86504424778761058, 0.89601769911504425, 0.87831858407079644, 0.91814159292035402, 0.8915929203539823, 0.91814159292035402, 0.89601769911504425, 0.88962472406181015]
0.893608490105


16:

0.908869719089
[0.88495575221238942, 0.89380530973451322, 0.86504424778761058, 0.89380530973451322, 0.88274336283185839, 0.91814159292035402, 0.8915929203539823, 0.91814159292035402, 0.89601769911504425, 0.88079470198675491]
0.89250424896


18:

0.909312099093
[0.88716814159292035, 0.90486725663716816, 0.86725663716814161, 0.8915929203539823, 0.88716814159292035, 0.92256637168141598, 0.8915929203539823, 0.91814159292035402, 0.89823008849557517, 0.88741721854304634]
0.895600128934


20:

0.911302809113
[0.88495575221238942, 0.89601769911504425, 0.86946902654867253, 0.88938053097345138, 0.88495575221238942, 0.92256637168141598, 0.8915929203539823, 0.9247787610619469, 0.90044247787610621, 0.87637969094922741]
0.894053898298

In [7]:
for min_samples_leaf in range(4, 21, 4):
    classifier = tree.DecisionTreeClassifier(min_samples_leaf=min_samples_leaf)
    print_scores(classifier, bank_data, bank_labels, min_samples_leaf)

4: 0.952444149524

[0.87831858407079644, 0.88938053097345138, 0.85398230088495575, 0.88053097345132747, 0.87389380530973448, 0.88716814159292035, 0.88274336283185839, 0.90486725663716816, 0.89823008849557517, 0.86092715231788075]
0.881004219657


8: 0.93497013935

[0.88274336283185839, 0.88495575221238942, 0.86061946902654862, 0.88716814159292035, 0.87610619469026552, 0.8915929203539823, 0.88716814159292035, 0.91150442477876104, 0.8915929203539823, 0.88962472406181015]
0.88630760515


12: 0.928113249281

[0.86946902654867253, 0.89823008849557517, 0.86946902654867253, 0.89380530973451322, 0.87610619469026552, 0.90265486725663713, 0.89380530973451322, 0.9247787610619469, 0.89380530973451322, 0.88300220750551872]
0.890512610131


16: 0.920371599204

[0.85176991150442483, 0.91814159292035402, 0.86725663716814161, 0.88495575221238942, 0.87389380530973448, 0.91150442477876104, 0.88938053097345138, 0.93584070796460173, 0.88274336283185839, 0.88520971302428253]
0.890069643869


20: 0.91395708914

[0.86504424778761058, 0.90265486725663713, 0.86725663716814161, 0.88716814159292035, 0.87610619469026552, 0.91371681415929207, 0.8915929203539823, 0.91592920353982299, 0.88495575221238942, 0.88300220750551872]
0.888742698627

In [8]:
for max_depth in range(4, 11, 2):
    classifier = tree.DecisionTreeClassifier(max_depth=max_depth)
    print_scores(classifier, bank_data, bank_labels, max_depth)

4: 0.909754479098
[0.88274336283185839, 0.90929203539823011, 0.8584070796460177, 0.90044247787610621, 0.88053097345132747, 0.90929203539823011, 0.88716814159292035, 0.92035398230088494, 0.89823008849557517, 0.89183222958057395]
0.893829240657


6: 0.924795399248

[0.88053097345132747, 0.90265486725663713, 0.85619469026548678, 0.90486725663716816, 0.87610619469026552, 0.91814159292035402, 0.88274336283185839, 0.91814159292035402, 0.90265486725663713, 0.88520971302428253]
0.892724511125


8: 0.942711789427

[0.87610619469026552, 0.90707964601769908, 0.87831858407079644, 0.90486725663716816, 0.87389380530973448, 0.91592920353982299, 0.87831858407079644, 0.91371681415929207, 0.8915929203539823, 0.86975717439293598]
0.890958018324


10: 0.963946029639

[0.86504424778761058, 0.90265486725663713, 0.85398230088495575, 0.90265486725663713, 0.88495575221238942, 0.89380530973451322, 0.87389380530973448, 0.91150442477876104, 0.88938053097345138, 0.86534216335540837]
0.884321826955

In [9]:
for max_leaf_nodes in range(10, 101, 10):
    classifier = tree.DecisionTreeClassifier(max_leaf_nodes=max_leaf_nodes)
    print_scores(classifier, bank_data, bank_labels, max_leaf_nodes)

10: 0.898473788985
[0.88716814159292035, 0.90486725663716816, 0.86283185840707965, 0.8915929203539823, 0.87610619469026552, 0.91371681415929207, 0.88938053097345138, 0.92699115044247793, 0.88938053097345138, 0.87858719646799122]
0.89206225947


20: 0.911302809113

[0.88495575221238942, 0.89601769911504425, 0.86946902654867253, 0.88938053097345138, 0.88495575221238942, 0.92256637168141598, 0.8915929203539823, 0.9247787610619469, 0.90044247787610621, 0.87637969094922741]
0.894053898298


30: 0.920813979208
[0.88274336283185839, 0.8915929203539823, 0.86725663716814161, 0.89380530973451322, 0.87831858407079644, 0.92035398230088494, 0.89380530973451322, 0.92256637168141598, 0.89823008849557517, 0.87637969094922741]
0.892505225732


40: 0.927670869277

[0.88274336283185839, 0.89601769911504425, 0.86283185840707965, 0.8915929203539823, 0.87389380530973448, 0.92035398230088494, 0.89601769911504425, 0.90707964601769908, 0.89380530973451322, 0.8741721854304636]
0.889850846862


50: 0.930767529308
[0.88495575221238942, 0.89823008849557517, 0.86283185840707965, 0.8915929203539823, 0.88274336283185839, 0.91814159292035402, 0.89823008849557517, 0.91371681415929207, 0.8915929203539823, 0.88079470198675491]
0.892283010022

60: 0.93497013935
[0.88274336283185839, 0.89601769911504425, 0.86283185840707965, 0.90044247787610621, 0.88053097345132747, 0.91150442477876104, 0.88274336283185839, 0.91592920353982299, 0.88938053097345138, 0.87858719646799122]
0.890071109027


70: 0.93895155939

[0.87831858407079644, 0.8915929203539823, 0.87168141592920356, 0.90044247787610621, 0.88274336283185839, 0.90929203539823011, 0.87610619469026552, 0.91371681415929207, 0.89601769911504425, 0.87858719646799122]
0.889849870089


80: 0.943375359434
[0.87389380530973448, 0.90044247787610621, 0.86504424778761058, 0.89823008849557517, 0.88053097345132747, 0.90707964601769908, 0.87610619469026552, 0.92035398230088494, 0.88716814159292035, 0.8741721854304636]
0.888302174295


90

: 0.945144879451
[0.87389380530973448, 0.90265486725663713, 0.86283185840707965, 0.89601769911504425, 0.88053097345132747, 0.90707964601769908, 0.87610619469026552, 0.91814159292035402, 0.88938053097345138, 0.87196467991169979]
0.887860184805


100:

0.949126299491
[0.87389380530973448, 0.90707964601769908, 0.85398230088495575, 0.89601769911504425, 0.87831858407079644, 0.90707964601769908, 0.88053097345132747, 0.91814159292035402, 0.88716814159292035, 0.8741721854304636]
0.887638457481

In [10]:
for max_leaf_nodes in range(10, 21, 2):
    classifier = tree.DecisionTreeClassifier(max_leaf_nodes=max_leaf_nodes, 
                                             criterion="entropy")
    print_scores(classifier, bank_data, bank_labels, max_leaf_nodes)

10: 0.895598318956
[0.87389380530973448, 0.91150442477876104, 0.86283185840707965, 0.90265486725663713, 0.87389380530973448, 0.90044247787610621, 0.88053097345132747, 0.91814159292035402, 0.89601769911504425, 0.87858719646799122]
0.889849870089


12:

0.895598318956
[0.87389380530973448, 0.90707964601769908, 0.86061946902654862, 0.90044247787610621, 0.87610619469026552, 0.91150442477876104, 0.88495575221238942, 0.92035398230088494, 0.89601769911504425, 0.87858719646799122]
0.89095606478


14:

0.897146648971
[0.86946902654867253, 0.90707964601769908, 0.86061946902654862, 0.89823008849557517, 0.87610619469026552, 0.91150442477876104, 0.88495575221238942, 0.92035398230088494, 0.88716814159292035, 0.87858719646799122]
0.889407392213


16:

0.897146648971
[0.86946902654867253, 0.90707964601769908, 0.8584070796460177, 0.89823008849557517, 0.87610619469026552, 0.91150442477876104, 0.88495575221238942, 0.92035398230088494, 0.88716814159292035, 0.87858719646799122]
0.889186153275


18:

0.897589028976
[0.86946902654867253, 0.90707964601769908, 0.8584070796460177, 0.89823008849557517, 0.87168141592920356, 0.91150442477876104, 0.88495575221238942, 0.92035398230088494, 0.88716814159292035, 0.87858719646799122]
0.888743675399


20:

0.897589028976
[0.86946902654867253, 0.90707964601769908, 0.8584070796460177, 0.89823008849557517, 0.87168141592920356, 0.91150442477876104, 0.88716814159292035, 0.92035398230088494, 0.88716814159292035, 0.87858719646799122]
0.888964914337

In [11]:
for min_samples_leaf in range(4, 21, 4):
    classifier = tree.DecisionTreeClassifier(min_samples_leaf=min_samples_leaf,
                                             criterion="entropy")
    print_scores(classifier, bank_data, bank_labels, min_samples_leaf)

4: 0.958637469586

[0.8584070796460177, 0.88274336283185839, 0.85176991150442483, 0.87831858407079644, 0.87168141592920356, 0.89601769911504425, 0.87168141592920356, 0.89823008849557517, 0.88716814159292035, 0.86092715231788075]
0.875694485143


8: 0.935412519354

[0.87389380530973448, 0.88053097345132747, 0.87168141592920356, 0.88053097345132747, 0.8584070796460177, 0.88938053097345138, 0.88053097345132747, 0.92035398230088494, 0.88938053097345138, 0.87196467991169979]
0.88166549454


12: 0.926343729263

[0.87389380530973448, 0.88274336283185839, 0.84955752212389379, 0.87389380530973448, 0.87389380530973448, 0.89823008849557517, 0.90044247787610621, 0.92035398230088494, 0.89380530973451322, 0.8741721854304636]
0.884098634472


16: 0.920371599204

[0.87831858407079644, 0.90044247787610621, 0.87831858407079644, 0.88495575221238942, 0.86725663716814161, 0.90044247787610621, 0.89601769911504425, 0.9247787610619469, 0.90265486725663713, 0.8741721854304636]
0.890735802614


20: 0.914841849148

[0.88716814159292035, 0.8915929203539823, 0.86725663716814161, 0.89601769911504425, 0.86946902654867253, 0.90929203539823011, 0.89380530973451322, 0.91150442477876104, 0.88938053097345138, 0.88520971302428253]
0.890069643869

In [12]:
for max_depth in range(4, 11, 2):
    classifier = tree.DecisionTreeClassifier(max_depth=max_depth,
                                             criterion="entropy")
    print_scores(classifier, bank_data, bank_labels, max_depth)

4: 0.89404998894
[0.89380530973451322, 0.90707964601769908, 0.85398230088495575, 0.90265486725663713, 0.87610619469026552, 0.91371681415929207, 0.88274336283185839, 0.90265486725663713, 0.88274336283185839, 0.88300220750551872]
0.889848893317


6: 0.918823269188

[0.87831858407079644, 0.90486725663716816, 0.8584070796460177, 0.8915929203539823, 0.88274336283185839, 0.90265486725663713, 0.88938053097345138, 0.91814159292035402, 0.89823008849557517, 0.88300220750551872]
0.890733849069


8: 0.940057509401

[0.88716814159292035, 0.88938053097345138, 0.88274336283185839, 0.89380530973451322, 0.87168141592920356, 0.90486725663716816, 0.8915929203539823, 0.91814159292035402, 0.87610619469026552, 0.87858719646799122]
0.889407392213


10: 0.960849369608

[0.86504424778761058, 0.87610619469026552, 0.86725663716814161, 0.87831858407079644, 0.88053097345132747, 0.90707964601769908, 0.88053097345132747, 0.92035398230088494, 0.86725663716814161, 0.85871964679911694]
0.880119752291

In [13]:
for max_leaf_nodes in range(10, 101, 10):
    classifier = tree.DecisionTreeClassifier(max_leaf_nodes=max_leaf_nodes,
                                             criterion="entropy")
    print_scores(classifier, bank_data, bank_labels, max_leaf_nodes)

10: 0.895598318956
[0.87389380530973448, 0.91150442477876104, 0.86283185840707965, 0.90265486725663713, 0.87389380530973448, 0.90044247787610621, 0.88053097345132747, 0.91814159292035402, 0.89601769911504425, 0.87858719646799122]
0.889849870089


20: 0.897589028976

[0.86946902654867253, 0.90707964601769908, 0.8584070796460177, 0.89823008849557517, 0.87168141592920356, 0.91150442477876104, 0.88716814159292035, 0.92035398230088494, 0.88716814159292035, 0.87858719646799122]
0.888964914337


30: 0.900464499005

[0.87168141592920356, 0.89380530973451322, 0.86283185840707965, 0.89380530973451322, 0.87389380530973448, 0.91150442477876104, 0.88716814159292035, 0.91592920353982299, 0.88716814159292035, 0.87196467991169979]
0.886975229053


40: 0.911302809113

[0.88495575221238942, 0.89380530973451322, 0.86504424778761058, 0.8915929203539823, 0.87389380530973448, 0.90929203539823011, 0.88938053097345138, 0.92256637168141598, 0.88716814159292035, 0.87196467991169979]
0.888966379496


50: 0.914178279142

[0.87831858407079644, 0.90486725663716816, 0.86283185840707965, 0.89380530973451322, 0.88495575221238942, 0.90707964601769908, 0.88495575221238942, 0.91150442477876104, 0.88716814159292035, 0.88300220750551872]
0.889848893317


60: 0.918380889184

[0.87168141592920356, 0.91371681415929207, 0.86504424778761058, 0.89380530973451322, 0.88716814159292035, 0.90265486725663713, 0.88716814159292035, 0.90707964601769908, 0.88274336283185839, 0.88079470198675491]
0.889185664889


70: 0.921698739217

[0.87389380530973448, 0.91592920353982299, 0.86725663716814161, 0.8915929203539823, 0.88274336283185839, 0.90265486725663713, 0.88716814159292035, 0.91150442477876104, 0.87831858407079644, 0.8741721854304636]
0.888523413233


80: 0.924353019244

[0.86946902654867253, 0.91150442477876104, 0.86946902654867253, 0.88716814159292035, 0.87831858407079644, 0.90265486725663713, 0.89601769911504425, 0.90707964601769908, 0.88053097345132747, 0.87196467991169979]
0.887417706929


90: 0.927892059279

[0.86946902654867253, 0.90707964601769908, 0.87389380530973448, 0.88716814159292035, 0.88053097345132747, 0.90707964601769908, 0.88716814159292035, 0.90707964601769908, 0.88716814159292035, 0.87196467991169979]
0.887860184805


100: 0.93696084937

[0.87610619469026552, 0.90265486725663713, 0.87168141592920356, 0.88716814159292035, 0.88495575221238942, 0.89823008849557517, 0.88716814159292035, 0.90486725663716816, 0.88716814159292035, 0.86754966887417218]
0.886754966887

In [14]:
bank_tree = tree.DecisionTreeClassifier(max_leaf_nodes=18)
bank_tree.fit(bank_data, bank_labels)
with open("L5/trees/bank.dot", "w") as f:
    tree.export_graphviz(bank_tree, out_file=f, feature_names=data.columns[:-1])